# This is the workflow to lint the source code
name: NPM Lint

# Controls when the action will run.
on:
  # Allows you to call this workflow from other workflows
  workflow_call:

jobs:
  lint:
    name: 'NPM Lint'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: 'Use Node.js'
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          check-latest: true
          cache: 'npm'

      - name: '⛓️ Install dependencies'
        run: npm ci --audit=false --prefer-offline --progress=false

      - name: 'Lint code'
        run: npm run lint
