# This is the workflow to trigger a release
#
name: Semantic release

on:
  # Allows you to call this workflow from other workflows
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: false
      GH_TOKEN:
        required: false
    outputs:
      version:
        description: The newly released version
        value: ${{ jobs.release.outputs.version }}

permissions:
  contents: write
  issues: write
  pull-requests: write
  packages: write

jobs:
  release:
    name: 'Semantic Release'
    runs-on: ubuntu-latest

    environment:
      name: release
      url: https://github.com/${{ github.repository }}/releases/tag/v${{ steps.npm-release.outputs.version }}

    outputs:
      version: ${{ steps.npm-release.outputs.version }}

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: 'Use Node.js'
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          check-latest: true
          cache: 'npm'

      - name: 'Install dependencies'
        env:
          HUSKY: 0
        run: npm ci --no-audit --prefer-offline --progress=false

      - name: 'Release'
        id: npm-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }} # Needed to push to GitHub
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }} # Needed to publish to NPM registry
          # DOCKER_USERNAME: ${{ github.actor }}
          # DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          HUSKY: 0 # disable pre-commit hooks
        run: |
          npm run release
          echo "version=$(npm run env | grep npm_package_version | cut -d '=' -f 2)" >> $GITHUB_OUTPUT
